<html>
    <body>
        
        <h3>Supprimer un loisir</h3>
        
        {{ form_start(form, {'action': path('validate_delete_loisir', {'id': entity.getId()})}) }} <!--entity car c'est le nom que l'on a donné au loisir parcouru dans le tableau-->
        {{ form(form) }}
        
    </body>
</html>