<html>
    <body>
        
        <h3>Editer une expérience</h3>
        
        {{ form_start(form, {'action': path('validate_edit_experience', {'id': entity.getId()})}) }} <!--entity car c'est le nom que l'on a donné à l'expérience parcouru dans le tableau-->
        {{ form(form) }}
        
    </body>
</html>